
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
<style>
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
</style>

*{

    box-sizing: border-box;
}
body{
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
.main{
    height: 100vh;
    width: 100vw;
    background-color: white;
    border-radius: 20px;
    display: flex;
}
.left>img{
    height: 100vh;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}
.right{
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.perfume{
    text-transform: uppercase;
    letter-spacing: 2px;
    color:hsl(228, 12%, 48%) ;
}
h1{
    font-family: "fraunces"serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
}